* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.contaner {
  background-color: rgb(170, 170, 211);
  height: 300px;
  width: 400px;
  padding: 1rem;
  border-radius: 6px;
}
.heading {
  color: white;
  padding-bottom: 16px;
  font-size: 20;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
li {
  border-bottom: solid 2px white;
  padding: 6px;
}

.change {
  color: red;
  font-size: 25px;
}
